<div id="book-page">
    <a href="/books">voltar</a>
    <div class="container">
        <h1>{{book.title}}</h1>
        <p>este livro tem {{book.pageqty}} paginas</p>
        <div class="action">
            <a href="/books/edit/{{book.id}}">editar</a>
            <form action="/books/remove/{{book.id}}" method="post">
                <input type="submit" value="remover">
            
            </form>
        </div>
    </div>
</div>