<h1>cadastre seu livro</h1>

<form action="/books/insertbook" method="post" class="form">

    <div class="form-control">
        <label for="title">titulos:</label>
        <input type="text" name="title" placeholder="digite o nome do seu livro">
    </div>
    <div class="form-control">
        <label for="pageqty">numero de paginas:</label>
        <input type="number" name="pageqty" placeholder="quantas paginas o livro tem?">
    </div>
    <input type="submit" value="cadastrar">




</form>